In [1]:
import org.apache.spark.sql.functions.avg
import org.apache.spark.sql.SparkSession
val spark = SparkSession
.builder
.appName("AuthorsAges")
.getOrCreate()

Intitializing Scala interpreter ...

Spark Web UI available at http://DESKTOP-C8F58JN:4041
SparkContext available as 'sc' (version = 3.1.1, master = local[*], app id = local-1618215432845)
SparkSession available as 'spark'

import org.apache.spark.sql.functions.avg
import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@703457e8

In [2]:
val dataDF = spark.createDataFrame(Seq(("Brooke", 20), ("Brooke", 25),
("Denny", 31), ("Jules", 30), ("TD", 35))).toDF("name", "age")

dataDF: org.apache.spark.sql.DataFrame = [name: string, age: int]

In [3]:
val avgDF = dataDF.groupBy("name").agg(avg("age"))

avgDF: org.apache.spark.sql.DataFrame = [name: string, avg(age): double]

In [4]:
avgDF.show()

+------+--------+
|  name|avg(age)|
+------+--------+
|Brooke|    22.5|
| Jules|    30.0|
|    TD|    35.0|
| Denny|    31.0|
+------+--------+

In [5]:
import org.apache.spark.sql.types._
import org.apache.spark.sql.types._

import org.apache.spark.sql.types._
import org.apache.spark.sql.types._

In [6]:
val nameTypes = StringType
val FirstName = nameTypes
val lastName = nameTypes

nameTypes: org.apache.spark.sql.types.StringType.type = StringType
FirstName: org.apache.spark.sql.types.StringType.type = StringType
lastName: org.apache.spark.sql.types.StringType.type = StringType

In [7]:
import org.apache.spark.sql.types._

import org.apache.spark.sql.types._

In [8]:
val schema = StructType(Array(StructField("author", StringType, false),
StructField("title", StringType, false),
StructField("pages", IntegerType, false)))

schema: org.apache.spark.sql.types.StructType = StructType(StructField(author,StringType,false), StructField(title,StringType,false), StructField(pages,IntegerType,false))

In [9]:
val schema = "author STRING, title STRING, pages INT"

schema: String = author STRING, title STRING, pages INT

In [10]:
val schema = StructType(Array(StructField("Id", IntegerType, false),
StructField("First", StringType, false),
StructField("Last", StringType, false),
StructField("Url", StringType, false),
StructField("Published", StringType, false),
StructField("Hits", IntegerType, false),
StructField("Campaigns", ArrayType(StringType), false)))

schema: org.apache.spark.sql.types.StructType = StructType(StructField(Id,IntegerType,false), StructField(First,StringType,false), StructField(Last,StringType,false), StructField(Url,StringType,false), StructField(Published,StringType,false), StructField(Hits,IntegerType,false), StructField(Campaigns,ArrayType(StringType,true),false))

In [12]:
val blogsDF = spark.read.schema(schema).json("C:/Users/GAME/Desktop/blogs.json")

blogsDF: org.apache.spark.sql.DataFrame = [Id: int, First: string ... 5 more fields]

In [13]:
blogsDF.show(false)

+---+---------+-------+-----------------+---------+-----+----------------------------+
|Id |First    |Last   |Url              |Published|Hits |Campaigns                   |
+---+---------+-------+-----------------+---------+-----+----------------------------+
|1  |Jules    |Damji  |https://tinyurl.1|1/4/2016 |4535 |[twitter, LinkedIn]         |
|2  |Brooke   |Wenig  |https://tinyurl.2|5/5/2018 |8908 |[twitter, LinkedIn]         |
|3  |Denny    |Lee    |https://tinyurl.3|6/7/2019 |7659 |[web, twitter, FB, LinkedIn]|
|4  |Tathagata|Das    |https://tinyurl.4|5/12/2018|10568|[twitter, FB]               |
|5  |Matei    |Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB, LinkedIn]|
|6  |Reynold  |Xin    |https://tinyurl.6|3/2/2015 |25568|[twitter, LinkedIn]         |
+---+---------+-------+-----------------+---------+-----+----------------------------+

In [14]:
println(blogsDF.printSchema)
println(blogsDF.schema)

root
 |-- Id: integer (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Url: string (nullable = true)
 |-- Published: string (nullable = true)
 |-- Hits: integer (nullable = true)
 |-- Campaigns: array (nullable = true)
 |    |-- element: string (containsNull = true)

()
StructType(StructField(Id,IntegerType,true), StructField(First,StringType,true), StructField(Last,StringType,true), StructField(Url,StringType,true), StructField(Published,StringType,true), StructField(Hits,IntegerType,true), StructField(Campaigns,ArrayType(StringType,true),true))

In [15]:
blogsDF.columns

res3: Array[String] = Array(Id, First, Last, Url, Published, Hits, Campaigns)

In [16]:
blogsDF.col("Id")

res4: org.apache.spark.sql.Column = Id

In [17]:
blogsDF.select(col("Hits") * 2).show(2)
blogsDF.select(expr("Hits * 2")).show(2)

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
+----------+
only showing top 2 rows

In [18]:
blogsDF.withColumn("Big Hitters", col("Hits") > 10000).show()
blogsDF.withColumn("Big Hitters", expr("Hits > 10000")).show()

+---+---------+-------+-----------------+---------+-----+--------------------+-----------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|Big Hitters|
+---+---------+-------+-----------------+---------+-----+--------------------+-----------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|      false|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|      false|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|      false|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|       true|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|       true|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|       true|
+---+---------+-------+-----------------+---------+-----+--------------------+-----------+

In [19]:
blogsDF.withColumn("AuthorsId", (concat(expr("First"), expr("Last"), expr("Id")))).select(col("AuthorsId")).show(4)

+-------------+
|    AuthorsId|
+-------------+
|  JulesDamji1|
| BrookeWenig2|
|    DennyLee3|
|TathagataDas4|
+-------------+
only showing top 4 rows

In [20]:
blogsDF.select(expr("Hits")).show(2)
blogsDF.select(col("Hits")).show(2)
blogsDF.select("Hits").show(2)

+----+
|Hits|
+----+
|4535|
|8908|
+----+
only showing top 2 rows

In [21]:
blogsDF.sort(col("Id").desc).show()
blogsDF.sort($"Id".desc).show()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

In [22]:
import org.apache.spark.sql.Row

import org.apache.spark.sql.Row

In [23]:
val blogRow = Row(6, "Reynold", "Xin", "https://tinyurl.6", 255568, "3/2/2015",
Array("twitter", "LinkedIn"))

blogRow: org.apache.spark.sql.Row = [6,Reynold,Xin,https://tinyurl.6,255568,3/2/2015,[Ljava.lang.String;@10a70dfc]

In [25]:
blogRow(1)

res11: Any = Reynold

In [26]:
val rows = Seq(("Matei Zaharia", "CA"), ("Reynold Xin", "CA"))

rows: Seq[(String, String)] = List((Matei Zaharia,CA), (Reynold Xin,CA))

In [27]:
val authorsDF = rows.toDF("Author", "State")

authorsDF: org.apache.spark.sql.DataFrame = [Author: string, State: string]

In [28]:
authorsDF.show()

+-------------+-----+
|       Author|State|
+-------------+-----+
|Matei Zaharia|   CA|
|  Reynold Xin|   CA|
+-------------+-----+

In [31]:
val fireSchema = StructType(Array(StructField("CallNumber", IntegerType, true), StructField("UnitID", StringType, true),
StructField("IncidentNumber", IntegerType, true),
StructField("CallType", StringType, true),
StructField("CallDate", StringType, true),
StructField("WatchDate", StringType, true),
StructField("CallFinalDisposition", StringType, true),
StructField("AvailableDtTm", StringType, true),
StructField("Address", StringType, true),
StructField("City", StringType, true),
StructField("Zipcode", IntegerType, true),
StructField("Battalion", StringType, true),
StructField("StationArea", StringType, true),
StructField("Box", StringType, true),
StructField("OriginalPriority", StringType, true),
StructField("Priority", StringType, true),
StructField("FinalPriority", IntegerType, true),
StructField("ALSUni", BooleanType, true),
StructField("CallTypeGroup", StringType, true),
StructField("NumAlarms", IntegerType, true),
StructField("UnitType", StringType, true),
StructField("UnitSequenceInCallDispatch", IntegerType, true),
StructField("FirePreventionDistrict", StringType, true),
StructField("SupervisorDistrict", StringType, true),
StructField("Neighborhood", StringType, true),
StructField("Location", StringType, true),
StructField("RowID", StringType, true),
StructField("Delay", FloatType, true)))

fireSchema: org.apache.spark.sql.types.StructType = StructType(StructField(CallNumber,IntegerType,true), StructField(UnitID,StringType,true), StructField(IncidentNumber,IntegerType,true), StructField(CallType,StringType,true), StructField(CallDate,StringType,true), StructField(WatchDate,StringType,true), StructField(CallFinalDisposition,StringType,true), StructField(AvailableDtTm,StringType,true), StructField(Address,StringType,true), StructField(City,StringType,true), StructField(Zipcode,IntegerType,true), StructField(Battalion,StringType,true), StructField(StationArea,StringType,true), StructField(Box,StringType,true), StructField(OriginalPriority,StringType,true), StructField(Priority,StringType,true), StructField(FinalPriority,IntegerType,true), StructField(ALSUni,BooleanType,true),...

In [45]:
val sfFireFile="C:/Users/GAME/Desktop/sf-fire-calls.csv"

sfFireFile: String = C:/Users/GAME/Desktop/sf-fire-calls.csv

In [48]:
val fireDF = spark.read.schema(fireSchema).csv("C:/Users/GAME/Desktop/sf-fire-calls.csv")

fireDF: org.apache.spark.sql.DataFrame = [CallNumber: int, UnitID: string ... 26 more fields]

In [49]:
val fewFireDF = fireDF
.select("IncidentNumber", "AvailableDtTm", "CallType")
.where($"CallType" =!= "Medical Incident")
fewFireDF.show(5, false)

+--------------+----------------------+--------------+
|IncidentNumber|AvailableDtTm         |CallType      |
+--------------+----------------------+--------------+
|null          |AvailableDtTm         |CallType      |
|2003235       |01/11/2002 01:51:44 AM|Structure Fire|
|2003250       |01/11/2002 04:16:46 AM|Vehicle Fire  |
|2003259       |01/11/2002 06:01:58 AM|Alarms        |
|2003279       |01/11/2002 08:03:26 AM|Structure Fire|
+--------------+----------------------+--------------+
only showing top 5 rows

fewFireDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [IncidentNumber: int, AvailableDtTm: string ... 1 more field]

In [50]:
from pyspark.sql.functions import *

In [51]:
import org.apache.spark.sql.functions._

import org.apache.spark.sql.functions._

In [52]:
fireDF
.select("CallType")
.where(col("CallType").isNotNull)
.agg(countDistinct('CallType) as 'DistinctCallTypes)
.show()

+-----------------+
|DistinctCallTypes|
+-----------------+
|               31|
+-----------------+

In [54]:
fireDF
.select("CallType")
.where(col("CallType").isNotNull)
.distinct()
.show(10, false)

+-----------------------------------+
|CallType                           |
+-----------------------------------+
|Elevator / Escalator Rescue        |
|Marine Fire                        |
|Aircraft Emergency                 |
|Confined Space / Structure Collapse|
|CallType                           |
|Administrative                     |
|Alarms                             |
|Odor (Strange / Unknown)           |
|Citizen Assist / Service Call      |
|HazMat                             |
+-----------------------------------+
only showing top 10 rows

In [55]:
val newFireDF = fireDF.withColumnRenamed("Delay", "ResponseDelayedinMins")
newFireDF
.select("ResponseDelayedinMins")
.where(col("ResponseDelayedinMins") > 5)
.show(5, false)

+---------------------+
|ResponseDelayedinMins|
+---------------------+
|5.35                 |
|6.25                 |
|5.2                  |
|5.6                  |
|7.25                 |
+---------------------+
only showing top 5 rows

newFireDF: org.apache.spark.sql.DataFrame = [CallNumber: int, UnitID: string ... 26 more fields]

In [56]:
val fireTsDF = newFireDF
.withColumn("IncidentDate", to_timestamp(col("CallDate"), "MM/dd/yyyy"))
.drop("CallDate")
.withColumn("OnWatchDate", to_timestamp(col("WatchDate"), "MM/dd/yyyy"))
.drop("WatchDate")
.withColumn("AvailableDtTS", to_timestamp(col("AvailableDtTm"),
"MM/dd/yyyy hh:mm:ss a"))
.drop("AvailableDtTm")

fireTsDF
.select("IncidentDate", "OnWatchDate", "AvailableDtTS")
.show(5, false)

+-------------------+-------------------+-------------------+
|IncidentDate       |OnWatchDate        |AvailableDtTS      |
+-------------------+-------------------+-------------------+
|null               |null               |null               |
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 01:51:44|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 03:01:18|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 02:39:50|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 04:16:46|
+-------------------+-------------------+-------------------+
only showing top 5 rows

fireTsDF: org.apache.spark.sql.DataFrame = [CallNumber: int, UnitID: string ... 26 more fields]

In [57]:
fireTsDF
.select(year($"IncidentDate"))
.distinct()
.orderBy(year($"IncidentDate"))
.show()

+------------------+
|year(IncidentDate)|
+------------------+
|              null|
|              2000|
|              2001|
|              2002|
|              2003|
|              2004|
|              2005|
|              2006|
|              2007|
|              2008|
|              2009|
|              2010|
|              2011|
|              2012|
|              2013|
|              2014|
|              2015|
|              2016|
|              2017|
|              2018|
+------------------+

In [58]:
fireTsDF
.select("CallType")
.where(col("CallType").isNotNull)
.groupBy("CallType")
.count()
.orderBy(desc("count"))
.show(10, false)

+-------------------------------+------+
|CallType                       |count |
+-------------------------------+------+
|Medical Incident               |113794|
|Structure Fire                 |23319 |
|Alarms                         |19406 |
|Traffic Collision              |7013  |
|Citizen Assist / Service Call  |2524  |
|Other                          |2166  |
|Outside Fire                   |2094  |
|Vehicle Fire                   |854   |
|Gas Leak (Natural and LP Gases)|764   |
|Water Rescue                   |755   |
+-------------------------------+------+
only showing top 10 rows

In [59]:
fireTsDF
.select(sum("NumAlarms"), avg("ResponseDelayedinMins"),
min("ResponseDelayedinMins"), max("ResponseDelayedinMins"))
.show()

+--------------+--------------------------+--------------------------+--------------------------+
|sum(NumAlarms)|avg(ResponseDelayedinMins)|min(ResponseDelayedinMins)|max(ResponseDelayedinMins)|
+--------------+--------------------------+--------------------------+--------------------------+
|        176170|         3.892364154521585|               0.016666668|                   1844.55|
+--------------+--------------------------+--------------------------+--------------------------+

In [4]:
import org.apache.spark.sql.Row

import org.apache.spark.sql.Row

In [5]:
val row = Row(350, true, "Learning Spark 2E", null)

row: org.apache.spark.sql.Row = [350,true,Learning Spark 2E,null]

In [6]:
row(2)

res3: Any = Learning Spark 2E

In [7]:
case class DeviceIoTData (battery_level: Long, c02_level: Long,
cca2: String, cca3: String, cn: String, device_id: Long,
device_name: String, humidity: Long, ip: String, latitude: Double,
lcd: String, longitude: Double, scale:String, temp: Long,
timestamp: Long)

defined class DeviceIoTData

In [9]:
val ds = spark.read.json("C:/Users/GAME/Desktop/iot_devices.json").as[DeviceIoTData]

ds: org.apache.spark.sql.Dataset[DeviceIoTData] = [battery_level: bigint, c02_level: bigint ... 13 more fields]

In [10]:
ds.show(5, false)

+-------------+---------+----+----+-------------+---------+---------------------+--------+-------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|cn           |device_id|device_name          |humidity|ip           |latitude|lcd   |longitude|scale  |temp|timestamp    |
+-------------+---------+----+----+-------------+---------+---------------------+--------+-------------+--------+------+---------+-------+----+-------------+
|8            |868      |US  |USA |United States|1        |meter-gauge-1xbYRYcj |51      |68.161.225.1 |38.0    |green |-97.0    |Celsius|34  |1458444054093|
|7            |1473     |NO  |NOR |Norway       |2        |sensor-pad-2n2Pea    |70      |213.161.254.1|62.47   |red   |6.15     |Celsius|11  |1458444054119|
|2            |1556     |IT  |ITA |Italy        |3        |device-mac-36TWSKiT  |44      |88.36.5.1    |42.83   |red   |12.83    |Celsius|19  |1458444054120|
|6            |1080     |US  |USA |United States|4        |sensor-pad-4mzWkz    |32      |66.39.173.154|44.06   |yellow|-121.32  |Celsius|28  |1458444054121|
|4            |931      |PH  |PHL |Philippines  |5        |therm-stick-5gimpUrBB|62      |203.82.41.9  |14.58   |green |120.97   |Celsius|25  |1458444054122|
+-------------+---------+----+----+-------------+---------+---------------------+--------+-------------+--------+------+---------+-------+----+-------------+
only showing top 5 rows

In [29]:
val filterTempDS = ds.select($"device_name", $"device_id", $"temp", $"humidity").where("temp > 30 and humidity > 70")

filterTempDS: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [device_name: string, device_id: bigint ... 2 more fields]

In [30]:
filterTempDS.show(5, false)

+----------------------+---------+----+--------+
|device_name           |device_id|temp|humidity|
+----------------------+---------+----+--------+
|meter-gauge-17zb8Fghhl|17       |31  |98      |
|sensor-pad-48jt4eL    |48       |31  |97      |
|sensor-pad-5410CWPrNb6|54       |34  |73      |
|device-mac-63GL4xSaZbj|63       |31  |91      |
|device-mac-81nsKomrRe |81       |31  |90      |
+----------------------+---------+----+--------+
only showing top 5 rows

In [31]:
case class DeviceTempByCountry(temp: Long, device_name: String, device_id: Long,
cca3: String)

defined class DeviceTempByCountry

In [46]:
val dsTemp2 = ds.select($"temp", $"device_name", $"device_id", $"device_id", $"cca3").where("temp > 25").as[DeviceTempByCountry]

dsTemp2: org.apache.spark.sql.Dataset[DeviceTempByCountry] = [temp: bigint, device_name: string ... 3 more fields]

In [47]:
dsTemp2.show(5, false)

+----+---------------------+---------+---------+----+
|temp|device_name          |device_id|device_id|cca3|
+----+---------------------+---------+---------+----+
|34  |meter-gauge-1xbYRYcj |1        |1        |USA |
|28  |sensor-pad-4mzWkz    |4        |4        |USA |
|27  |sensor-pad-6al7RTAobR|6        |6        |USA |
|27  |sensor-pad-8xUD6pzsQI|8        |8        |JPN |
|26  |sensor-pad-10BsywSYUF|10       |10       |USA |
+----+---------------------+---------+---------+----+
only showing top 5 rows

In [51]:
ds.show(1, false)

+-------------+---------+----+----+-------------+---------+--------------------+--------+------------+--------+-----+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|cn           |device_id|device_name         |humidity|ip          |latitude|lcd  |longitude|scale  |temp|timestamp    |
+-------------+---------+----+----+-------------+---------+--------------------+--------+------------+--------+-----+---------+-------+----+-------------+
|8            |868      |US  |USA |United States|1        |meter-gauge-1xbYRYcj|51      |68.161.225.1|38.0    |green|-97.0    |Celsius|34  |1458444054093|
+-------------+---------+----+----+-------------+---------+--------------------+--------+------------+--------+-----+---------+-------+----+-------------+
only showing top 1 row

In [11]:
ds.write.format("parquet").save("C:/Users/GAME/Desktop/ds")

In [13]:
ds.write.format("json").save("C:/Users/GAME/Desktop/ds_json")
ds.write.format("csv").save("C:/Users/GAME/Desktop/ds_csv")
ds.write.format("avro").save("C:/Users/GAME/Desktop/ds_avro")

In [22]:
val dspart = ds.repartition(partitionExprs = col("battery_level"), numPartitions = 1)

dspart: org.apache.spark.sql.Dataset[DeviceIoTData] = [battery_level: bigint, c02_level: bigint ... 13 more fields]

In [23]:
dspart.write.format("json").save("C:/Users/GAME/Desktop/dspart_json")
dspart.write.format("csv").save("C:/Users/GAME/Desktop/dspart_csv")